<div class="login-form">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Account Number</label>
      <input
        type="text"
        class="form-control"
        formControlName="accountNumber"
        [ngClass]="{ 'is-invaild': submitted && f['accountNumber'].errors }"
      />
    </div>
    <div class="form-group">
      <label>Pin</label>
      <input
        type="password"
        class="form-control"
        formControlName="pin"
        [ngClass]="{ 'is-invaild': submitted && f['pin'].errors }"
      />
    </div>
    <div class="form-group buttons">
      <button type="submit" class="btn btn-primary">Login</button>
    <button
      type="button"
      (click)="onReset()"
      class="btn btn-warning float-right"
    >
      Reset
    </button>
    </div>
  </form>
</div>
