<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>ATM</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Account Number</h3>
        </div>
        <div class="card-body">
          <h3>{{ (accountDetails | async)?.id }}</h3>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Balance</h3>
        </div>
        <div class="card-body">
          <h3>{{ (accountDetails | async)?.balance }}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Withdraw</h3>
        </div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="withdraw()">
            <div class="form-group">
              <label for="amount">Amount</label>
              <input
                type="number"
                class="form-control"
                id="amount"
                formControlName="amount"
                [ngClass]="{
                  'is-invaild': submitted && f['amount'].errors
                }"
              />
              <span *ngIf="f['amount'].errors && submitted">
                Please enter value divisable By five
              </span>
            </div>
            <button type="submit" class="btn btn-primary">Withdraw</button>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h3>Notes Dispenseed</h3>
        </div>
        <div class="card-body">
          <ng-container *ngIf="(notesDispensed | async)?.length; else notYet">
            <ul>
              <li *ngFor="let note of notesDispensed | async">
                {{ note }}
              </li>
            </ul>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #notYet>
  <h3>No notes dispensed</h3>
</ng-template>
